
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Welcome to Res+Call <small>App for All Residents</small></h1>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac mi vel nulla pellentesque egestas vel molestie justo. Aliquam convallis at nunc id eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut lacinia, neque quis consectetur varius, sapien nisi sagittis nisi, ac semper diam leo id velit. Nullam eros magna, dignissim sed tellus in, tristique consequat elit. Praesent at cursus dui. Suspendisse scelerisque pretium mi. Nam eu eros sit amet nunc semper vehicula. Nullam suscipit pretium aliquet. Nunc ante turpis, mattis in sapien vel, placerat convallis nibh. Ut euismod aliquet ultricies. Phasellus nec lorem quis orci facilisis mattis. Morbi pulvinar justo sapien, in mattis orci molestie ac. Duis posuere, nisi vitae rhoncus finibus, quam dui lacinia urna, eu gravida dolor magna nec sem. Nulla mollis eros felis, vitae congue quam luctus eget.</p>
        </div>
    </div>

