	<br>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h1 class="panel-title" id="patient-info">Add a New Patient</h1>
  		</div>
  		<div class="panel-body">
    		<form>

			<div class="form-group">
				<label for="name">Patient Name</label>
				<input type="text" class="form-control" id="patient-name" placeholder="Name">
			</div>

			<div class="form-group">
				<label for="MRN">Patient MRN</label>
				<input type="text" class="form-control" id="patient-MRN" placeholder="MRN">
			</div>

			<div class="form-group">
				<label for="injury">Patient injury</label>
				<br>
				
	            <select id="injury-type">
	            	{{#each injury}}
		                <option value="{{this.body_part_specific}}">{{this.body_part_specific}}</option>
		            {{/each}}
	            </select>
			</div>

			<div class="form-group">
				<label for="HPI">Patient HPI</label>
				<input type="text-field" class="form-control" id="patient-HPI" placeholder="HPI">
			</div>
			
			<div class="form-group">
				<label for="plan">Plan</label>
				<span id="patient-plan"></span>
				<br><br>
				<span>
				Add task: <br><input type="text-field" class="form-control" id="add-initial-task" value="">
				</span>
			</div>
		</form>
		<button type="submit" class="btn btn-default" id="submit-patient">Submit</button>
  		</div>
	</div>